---
title: What I'm working on
author: Daniel Liden
date: '2017-12-26'
slug: what-i-m-working-on
categories:
  - Blog
tags:
  - blog
  - general
bibliography: bibliography1226.bib
---



<p>One of the first books I’ll be working (partially) through is <em>Introduction to Linear Optimization</em> <span class="citation">(Bertsimas and Tsitsiklis 1997)</span>. I recently took a statistical computing class that covered a selection of optimization topics. Though the course was far from comprehensive, it highlighted the value of having a range of optimization techniques, and a thorough grounding of how they work, in your toolbox. I will be working through the first four or five chapters of this book before moving onto nonlinear programming.</p>
<p>I’m also going to be revisiting <em>Statistical Inference</em> <span class="citation">(Casella and Berger 2002)</span>. That book was my first serious exposure to statistics, and I first approached it without much background in mathematics or statistics. My other coursework and self-study has gotten me to a point where I’m confident I can more productively work through the book.</p>
<p>For some more interesting posts, I will select some of the datasets from the <code>histdata</code> R package and provide some historical background in addition to brief data analyses. I’m particularly interested in recreating the methods originally used to analyze the data and comparing those to contemporary approaches.</p>
<p>Unrelated to statistics, I’m currently reading Roberto Bolaño’s <em>2666</em> <span class="citation">(Bolaño 2013)</span> and will compose a short writeup about the book once I finish it.</p>
<hr />
<div id="refs" class="references">
<div id="ref-bertsimas_introduction_1997">
<p>Bertsimas, Dimitris, and John N. Tsitsiklis. 1997. <em>Introduction to Linear Optimization</em>. Third printing edition. Belmont, Mass: Athena Scientific.</p>
</div>
<div id="ref-bolano_2666:_2013">
<p>Bolaño, Roberto. 2013. <em>2666: A Novel</em>. Farrar, Straus; Giroux.</p>
</div>
<div id="ref-casella_statistical_2002">
<p>Casella, George, and Roger L. Berger. 2002. <em>Statistical Inference</em>. Thomson Learning.</p>
</div>
</div>
