---
title: Introduction
author: Daniel Liden
date: '2017-12-25'
slug: introduction
categories:
  - Blog
tags:
  - blog
  - general
---



<p>Welcome to my site! I will be using this site for a few different purposes:</p>
<ul>
<li>Writing a blog</li>
<li>Aggregating my other publications</li>
<li>Posting notes and exercises from my statistics and math self-study</li>
<li>Writing short reviews of the books I read</li>
</ul>
<div id="blog" class="section level3">
<h3>blog</h3>
<p>I used to write a lot more when I was a History of Science student at the University of Chicago. Studying statistics doesn’t give me as many opportunities to write, but I think it’s very important for people to write–and read–about statistics.</p>
<p>So much of the information we receive every day is conveyed in statistical terms, and it is the responsibility of those who work with statistics to communicate that information clearly. The blog component of this site will focus on just that–clear statistical communication. The topics will range from historical developments in statistics to discussions of new methods, but clarity will be the major focus of all posts.</p>
</div>
<div id="other-publications" class="section level3">
<h3>Other publications</h3>
<p>I have written other things in the past, and I will be writing more things in the future. I want to keep them in one place. This will be that one place.</p>
</div>
<div id="notes-and-exercises" class="section level3">
<h3>Notes and Exercises</h3>
<p>The transition from History of Science to Statistics wasn’t straightforward. I spent a lot of time working though online courses and books to reach the point where pursuing a statistics MS was feasible. I still spend a lot of time on independent study. I’d like to have a place to keep notes and exercise solutions, both for my own reference and to help others working on similar material.</p>
</div>
<div id="book-reviews" class="section level3">
<h3>Book Reviews</h3>
<p>I read all the time. I want to be more deliberate about reflecting on the things I read for the sake of improving my recollection and deepening my understanding. To that end, I will write brief “reviews” or reflections about the books I read. These will not necessarily be related to statistics – I read a lot of fiction.</p>
</div>
<div id="a-note-on-r" class="section level2">
<h2>A note on R</h2>
<p>This site is made using <a href="https://github.com/rstudio/blogdown">blogdown</a>, so I can write posts in Rmarkdown and show R code and output. I intent to make much use of this feature, especially in my self-study posts. Here are some examples:</p>
<div id="basic-arithmetic" class="section level3">
<h3>Basic Arithmetic</h3>
<pre class="r"><code>1+1</code></pre>
<pre><code>## [1] 2</code></pre>
<pre class="r"><code>3*3</code></pre>
<pre><code>## [1] 9</code></pre>
</div>
<div id="simple-plot" class="section level3">
<h3>Simple plot</h3>
<p><img src="/post/2017-12-25-introduction_files/figure-html/unnamed-chunk-2-1.png" width="672" /></p>
<p>Thank you for reading! Check back again soon for updates. I intend to post daily or as close to daily as I can manage.</p>
</div>
</div>
