
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap" rel="stylesheet">

<style>
.content {
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1, .content h1{
  font-family: 'Roboto Slab', sans-serif;
}
h2, .content h2{
  font-family: 'Roboto Slab', sans-serif;
}
h3{
  font-family: 'Roboto Slab', sans-serif;
}
h4{
  font-family: 'Roboto Slab', sans-serif;
}
code, pre, .codelike {
  font-family: 'Roboto Mono', monospace;
  font-size: 85%;
}
.mb-4, .text-3xl, .mr-6, .mt-4 {
  font-family: 'Roboto Slab', sans-serif;
}
.content code, .content pre {
  font-family: 'Roboto Mono', monospace;
}

.org-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.featured, #featured {
    width: 250px !important;
}
</style>
